
## <summary>policy for BoldTechnologyCommerceUganda</summary>


########################################
## <summary>
##	Transition to BoldTechnologyCommerceUganda.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`BoldTechnologyCommerceUganda_domtrans',`
	gen_require(`
		type BoldTechnologyCommerceUganda_t, BoldTechnologyCommerceUganda_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, BoldTechnologyCommerceUganda_exec_t, BoldTechnologyCommerceUganda_t)
')


########################################
## <summary>
##	Execute BoldTechnologyCommerceUganda server in the BoldTechnologyCommerceUganda domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BoldTechnologyCommerceUganda_initrc_domtrans',`
	gen_require(`
		type BoldTechnologyCommerceUganda_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, BoldTechnologyCommerceUganda_initrc_exec_t)
')


########################################
## <summary>
##	Search BoldTechnologyCommerceUganda lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BoldTechnologyCommerceUganda_search_lib',`
	gen_require(`
		type BoldTechnologyCommerceUganda_var_lib_t;
	')

	allow $1 BoldTechnologyCommerceUganda_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read BoldTechnologyCommerceUganda lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BoldTechnologyCommerceUganda_read_lib_files',`
	gen_require(`
		type BoldTechnologyCommerceUganda_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, BoldTechnologyCommerceUganda_var_lib_t, BoldTechnologyCommerceUganda_var_lib_t)
')

########################################
## <summary>
##	Manage BoldTechnologyCommerceUganda lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BoldTechnologyCommerceUganda_manage_lib_files',`
	gen_require(`
		type BoldTechnologyCommerceUganda_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, BoldTechnologyCommerceUganda_var_lib_t, BoldTechnologyCommerceUganda_var_lib_t)
')

########################################
## <summary>
##	Manage BoldTechnologyCommerceUganda lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BoldTechnologyCommerceUganda_manage_lib_dirs',`
	gen_require(`
		type BoldTechnologyCommerceUganda_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, BoldTechnologyCommerceUganda_var_lib_t, BoldTechnologyCommerceUganda_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a BoldTechnologyCommerceUganda environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`BoldTechnologyCommerceUganda_admin',`
	gen_require(`
		type BoldTechnologyCommerceUganda_t;
		type BoldTechnologyCommerceUganda_initrc_exec_t;
		type BoldTechnologyCommerceUganda_var_lib_t;
	')

	allow $1 BoldTechnologyCommerceUganda_t:process { ptrace signal_perms };
	ps_process_pattern($1, BoldTechnologyCommerceUganda_t)

	BoldTechnologyCommerceUganda_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 BoldTechnologyCommerceUganda_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, BoldTechnologyCommerceUganda_var_lib_t)

')

